[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/yannes/Desktop/deutschjara.odt]
row=5
col=0

[/home/yannes/Desktop/arduino-arduinoide.desktop]
row=1
col=1

[/home/yannes/Desktop/papa musik]
row=4
col=0

[/home/yannes/Desktop/atom.desktop]
row=3
col=1

[/home/yannes/Desktop/Invert Mousepad.desktop]
row=4
col=1

[/home/yannes/Desktop/HSK]
row=0
col=1

[/home/yannes/Desktop/klasse11]
row=2
col=1

[/home/yannes/Desktop/projects]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/yannes]
row=2
col=0

